[user]
	name = mikewuch
	email = mikewuch@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/mwu/.gitignore_global
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[push]
	default = matching
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
  	graph = log --oneline --decorate --all --graph
  	graph1 = log --graph --pretty=oneline --abbrev-commit
